@charset "utf-8";

/* Import includes */
#bodyContent {
    
    @import "bootstrap";
    @import "_partials/cover";
    @import "_partials/home";


    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

    .site-wrapper {
        background-color: #333;
    }

    /* remove https link styling */
    a[href ^="https://"].btn-secondary, .link-http  {
        background: #fff;
    }
}
