---
title: Home
---
<div clas="video-container">
	<video width="85%" height="auto" controls="" preload="auto">
		<source src="images/test_video.m4v" type="video/mp4">
	</video>
</div>
<div class="row home-spacer">
	<div class="col-md-12">
		<img src='images/design_thingy_1.png' width="76" height="275">
	</div>
</div>
<div class="row home-text-container">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<p class="home-text">We are running out of oil and the climate is changing drastically due to the emission of polluting gases such as CO<sub>2</sub>. But what if CO<sub>2</sub> were a resource, rather than a wasteful pollutant; and might even replace oil? We aspire to create a bio-based economy – one that meets its energy and production demands by leveraging biotechnology [1]. We can genetically engineer bacteria to produce a compound we need. This is what we call a bacterial ‘cell factory’. Meet <span style = "color: #00ffff">CYANOFACTORY</span>, a cyanobacterium that stably and efficiently produces fumarate.</p>
	</div>
	<div class="col-md-3">
		<p class='vertical-text'>Our Goal</p>
	</div>
</div>	
<div class="row home-spacer">
	<div class="col-md-12">
		<img src='images/design_thingy_1.png' width="76" height="275">
	</div>
</div>
<div class="row home-text-container" style="height: 335px">
	<div class="col-md-3">

	</div>
	<div class="col-md-6">
		<p class="home-text">We use the cyanobacterium Synechocystis PCC6803, a photosynthetic model organism of which the genetic toolbox is rapidly expanding.<br><br>
		<a href="#"><span style="color:#00ffff">Click here for a live feed with our Synechocystis cultivators.</span></a></p>
	</div>
	<div class="col-md-3">
		<p class='vertical-text'>Synechocystis</p>
	</div>
</div>	



